### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#Dependencies and Setup
import pandas as pd

In [2]:
#Create reference to CSV file
csvpath = "/Users/laurelwilliamson/Desktop/GITHUB/pandas-challenge/HeroesOfPymoli/Resources/purchase_data.csv"
#Import the CSV into a pandas DataFrame
heroes_df = pd.read_csv(csvpath)

## Player Count

* Display the total number of players

In [44]:
#eliminate duplicates to find total players
players = heroes_df.loc[:, ["Gender", "SN", "Age"]]
unique_players = players.drop_duplicates()
total_players = unique_players.count()[0]
players_df = pd.DataFrame({"Total Players": [total_players]})
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#calculations
unique_items = len(heroes_df["Item Name"].unique())
average_price = heroes_df["Price"].mean()
number_of_purchases = len(heroes_df["Purchase ID"])
total_revenue = heroes_df["Price"].sum()

#create dataframe
summary_table = pd.DataFrame({"Number of Unique Items": unique_items,
                              "Total Revenue": [total_revenue],
                              "Number of Purchases": [number_of_purchases],
                              "Average Price": [average_price]})
summary_table['Average Price'] = summary_table['Average Price'].map('${:,.2f}'.format)
summary_table['Total Revenue'] = summary_table['Total Revenue'].map('${:,.2f}'.format)
summary_table

   Number of Unique Items Total Revenue  Number of Purchases Average Price
0                     179     $2,379.77                  780         $3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [42]:
#calculations
gender_count = unique_players["Gender"].value_counts()
gender_percent = gender_count/total_players
gender_table = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percent})
gender_table['Percentage of Players']= gender_table['Percentage of Players'].map("{:,.2%}".format)
gender_table

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
#calculations
purchase_count = heroes_df["Gender"].value_counts()
avg_purchase_price = heroes_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
total_purchase_value = heroes_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
avg_per_person = total_purchase_value / gender_table["Total Count"]

#create dataframe
gender_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price, "Total Purchase Value": total_purchase_value, "Avg Total Purchase per Person": avg_per_person})
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [25]:
#binning
bins = [1, 10, 15, 20, 25, 30, 35, 40, 200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

unique_players["Age Groups"] = pd.cut(unique_players["Age"], bins, labels=group_names, include_lowest=True)

#calculations
age_total_count = unique_players["Age Groups"].value_counts()
age_percents = age_total_count / total_players
age_demographics = pd.DataFrame({"Total Count": age_total_count, "Percentage of Players": age_percents})


#create dataframe
age_demographics = age_demographics.sort_index()
age_demographics

<ipython-input-25-3acc89ef24d2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_players["Age Groups"] = pd.cut(unique_players["Age"], bins, labels=group_names, include_lowest=True)

       Total Count  Percentage of Players
<10             24               0.041667
10-14           41               0.071181
15-19          150               0.260417
20-24          232               0.402778
25-29           59               0.102431
30-34           37               0.064236
35-39           26               0.045139
40+              7               0.012153

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
# binning
heroes_df["Age Ranges"] = pd.cut(heroes_df["Age"], bins, labels=group_names)

# calculations
age_total_purchase_value = heroes_df.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_avg_purchase_price = heroes_df.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_purchase_counts = heroes_df.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
age_avg_total_per = age_total_purchase_value / age_demographics["Total Count"]

# dataframe
age_df = pd.DataFrame({"Purchase Count": age_purchase_counts, "Average Purchase Price": age_avg_purchase_price, "Total Purchase Value": age_total_purchase_value, "Average Total Purchase per Person": age_avg_total_per})
age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Ranges,,,,
<10,32,3.405000,108.96,4.540000
10-14,54,2.900000,156.60,3.819512
15-19,200,3.107800,621.56,4.143733
20-24,325,3.020431,981.64,4.231207
25-29,77,2.875584,221.42,3.752881
30-34,52,2.994423,155.71,4.208378
35-39,33,3.404545,112.35,4.321154
40+,7,3.075714,21.53,3.075714

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
#calculations
sn_purchase_count = heroes_df["SN"].value_counts()
sn_avg_purchase_price = heroes_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
sn_total_purchase_value = heroes_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")

#create dataframe
sn_analysis = pd.DataFrame({"Purchase Count": sn_purchase_count, "Average Purchase Price": sn_avg_purchase_price, "Total Purchase Value": sn_total_purchase_value})
sn_sorted = sn_analysis.sort_values("Total Purchase Value", ascending=False)

#preview
sn_sorted.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
#retrieve ID/Name/Price
items = heroes_df.loc[:,["Item ID", "Item Name", "Price"]]
item_count = items.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
item_price = items.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_total_pv = items.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

#make sorted dataframe
items_df = pd.DataFrame({"Total Purchase Value": item_total_pv, "Item Price": item_price, "Purchase Count": item_count})
items_df_sorted = items_df.sort_values("Purchase Count", ascending=False)
#preview
items_df_sorted.head(5)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,59.99,4.614615,13
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.230000,12
145,Fiery Glass Crusader,41.22,4.580000,9
132,Persuasion,28.99,3.221111,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.530000,9

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [34]:
#sort by total purchase value in descending order
item_total_pv_df = items_df.sort_values("Total Purchase Value", ascending=False)
#preview
item_total_pv_df.head(5)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,59.99,4.614615,13
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.230000,12
82,Nirvana,44.10,4.900000,9
145,Fiery Glass Crusader,41.22,4.580000,9
103,Singed Scalpel,34.80,4.350000,8